<div class="row">
  <div class="col-lg-3">
    <%= render 'shared/user_info' %>
  </div>
  <div class="col-lg-6 well">
    <h3>Find Doggos</h3>
    <hr>

<%= search_form_for(@q,
    url: find_friends_path,
    html: { method: :get}
  ) do |f| %>
    <%= f.label :name_cont %>
    <%= f.search_field :name_cont %>
    <%= f.submit %>
      <% end %> 

    <%= render(@people) %>
  </div>
  
  <div class="col-lg-3">
    <%= render 'shared/links' %>
  </div>
</div>